doctype html
html
    head
        title Quick Sale Savers - All Products
        link(rel="stylesheet" href="/styles.css")
    body
        include navbar
        .container
            h1 All Products

            table
                thead
                    tr
                        th S.No
                        th Product Name
                        th Category
                        th Original Price
                        th Discount Price
                        th Expiration Date
                        th Quantity Available
                tbody
                    each product in data
                        tr(data-id=product.product_id class="product-row")
                            td= product.product_id
                            td= product.product_name
                            td= product.category
                            td= "£" + parseFloat(product.original_price).toFixed(2)
                            td= "£" + parseFloat(product.discount_price).toFixed(2)
                            td= product.expiration_date
                            td= product.quantity

        script.
            document.querySelectorAll(".product-row").forEach(row => {
                row.addEventListener("click", () => {
                    const productId = row.getAttribute("data-id");
                    window.location.href = `/product/${productId}`;
                });
            });
